# Binaries
backend/bin/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
!.env.example

# Go
*.test
*.out
vendor/

# Logs
*.log

# Backup files
*.bak

flutter/apps/chirp/build
flutter/packages/ui_kit/build
flutter/packages/app_api/build
